In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [52]:
merge = pd.read_csv('loan_lender_merged.csv')

KeyboardInterrupt:

In [53]:
m = merge.sample(100000)

In [54]:
m = m.drop('Unnamed: 0',axis=1)

In [55]:
m = m.set_index('LOAN_ID')

In [56]:
m.LENDERS = m.LENDERS.str.split(',')

In [57]:
m.LENDERS.str.len().describe()

count    100000.000000
mean         19.731540
std          28.491665
min           1.000000
25%           7.000000
50%          13.000000
75%          24.000000
max        2926.000000
Name: LENDERS, dtype: float64

In [58]:
lenders = set()

In [59]:
m.LENDERS.apply(lambda x: lenders.update(x))

LOAN_ID
378616     None
1506169    None
482480     None
1372663    None
632138     None
249689     None
213589     None
1048066    None
1002752    None
512553     None
1036049    None
667774     None
106785     None
1373791    None
1045909    None
324142     None
1551621    None
199101     None
287286     None
26653      None
221738     None
118810     None
1059676    None
336939     None
1236171    None
712857     None
102756     None
1534954    None
1146495    None
1163013    None
           ...
673004     None
1462517    None
460007     None
1096277    None
1211356    None
1669588    None
1702600    None
576643     None
1654900    None
1703867    None
11454      None
955182     None
833534     None
916875     None
660874     None
304225     None
276725     None
934613     None
5684       None
1217642    None
1214013    None
71567      None
375288     None
1689043    None
1212119    None
288351     None
705993     None
1067467    None
1162495    None
270852     None
Name: LENDERS, Length: 100000, dtype: object

In [62]:
495714/100000

4.95714

In [60]:
len(lenders)

495714

In [70]:
m['U_LENDERS'] = m.LENDERS.apply(lambda x : set(x))

In [78]:
m.U_LENDERS.str.len().describe()

count    100000.000000
mean         19.220770
std          27.096845
min           1.000000
25%           7.000000
50%          13.000000
75%          24.000000
max        2665.000000
Name: U_LENDERS, dtype: float64

In [64]:
m.head()

,LOAN_NAME,ORIGINAL_LANGUAGE,DESCRIPTION,DESCRIPTION_TRANSLATED,FUNDED_AMOUNT,LOAN_AMOUNT,STATUS,IMAGE_ID,VIDEO_ID,ACTIVITY_NAME,...,NUM_LENDERS_TOTAL,NUM_JOURNAL_ENTRIES,NUM_BULK_ENTRIES,TAGS,BORROWER_NAMES,BORROWER_GENDERS,BORROWER_PICTURED,REPAYMENT_INTERVAL,DISTRIBUTION_MODEL,LENDERS
LOAN_ID,,,,,,,,,,,,,,,,,,,,,
378616,Lilian,English,Lilian is 26 years old. She is married to Jose...,NaN,975.0,975.0,funded,975569.0,NaN,Clothing Sales,...,17,1,1,NaN,Lilian,female,true,monthly,field_partner,"[nancy5110, barrie7327, barrie7327, vandong..."
1506169,Auxilia,English,Auxilia is a 19-year-old entrepreneur who live...,Auxilia is a 19-year-old entrepreneur who live...,200.0,200.0,funded,2819800.0,NaN,General Store,...,7,1,1,"#Schooling, #Female Education, user_favorite, ...",Auxilia,female,true,monthly,field_partner,"[virginia3170, betsy4386, arif2273, vicky66..."
482480,Kidzunu 2 (#2) Group,English,"Anicet, 47, is married with four children, age...",NaN,2475.0,2475.0,funded,1207754.0,NaN,Food Market,...,86,1,1,NaN,"Anicet, Vighel, Mado, Koua, Yolande","male, male, female, male, female","true, true, true, true, true",monthly,field_partner,"[leonardmiller, leonardmiller, tom1045, tom..."
1372663,Julie,English,Julie is a dairy farmer who works hard on her ...,Julie is a dairy farmer who works hard on her ...,300.0,300.0,funded,2629234.0,NaN,Livestock,...,7,2,1,"#Animals, user_favorite",Julie,female,true,monthly,field_partner,"[melissa6980, martie5745, kathleen2487, suj..."
632138,Soledad,English,"This is Soledad, 57, a resident of Cabrera, Pa...",NaN,750.0,750.0,funded,1469786.0,NaN,Retail,...,26,2,1,volunteer_pick,Soledad,female,true,monthly,field_partner,"[marina5957, markgermany, stig9892, gooddog..."